<!-- <div class="container_fluid wrapperFoot">
    <h1>Explore New Locations Around the World!</h1>
</div> -->
<div class="container wrapperGuide" data-aos="fade-up">
<h2>What you get</h2>
<span class="section-divider"></span>
    <div class="row" data-aos="zoom-out">
        <div class="col-xs-12 col-sm-4 col-md-4 col-xs-4 box">
            <span class="icon"><img src="../../assets/image/1.jpg"></span>
            <span class="featText">
                <h3>Extensive <br />Tour Packages</h3>
                <p>Pick up from a long list of packages, exclusively handcrafted to suit your aspirations and budget.</p>
            </span>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-xs-4 box">
            <span class="icon"><img src="../../assets/image/2.jpg"></span>
            <span class="featText">
                <h3>Easy <br />Booking</h3>
                <p>We handle Tour packages, Car Rental, Hotel Booking. Just name a place, and we make package for you, confirmed!</p>
            </span>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-xs-4 box">
            <span class="icon"><img src="../../assets/image/3.jpg"></span>
            <span class="featText">
                <h3>Customer <br />Experience</h3>
                <p>We have a record of delivering utmost satisfaction! Count on us for offering services are totally worth your investment.</p>
            </span>
        </div>
    </div>
   
</div>
<div class="container_fluid terms">
    <div class="left"></div>
    <div class="right" data-aos="fade-left">
        <h3>My Tour Planner Terms & Conditions</h3>
        <ul>
            <li>A tour package of your choice should be reserved 2 months prior to your date of departure. Changes in the itinerary can be made with the consultation of the traveling executive appointed to you.</li>
            <li>You must make a full payment to My Tour Planner for your reserved tour in advance. The payment should be done one month prior to the date of departure.</li>
            <li>Changes introduced in the itinerary from your side after the confirmation of the tour and payment will incur extra charges.</li>
            <li>My Tour Planner reserves the right to make necessary changes in the itinerary under the pretext of any unforeseen circumstances, like political unrest, natural disasters, et cetera.</li>
            <li>If the tour is canceled due to any reason, the customer will be subjected to a certain amount of cancellation fee. The rates are determined according to the date of cancellation.</li>
          
        </ul>
    

    </div>
  
   
</div>