<div class="container_fluid nav2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 leftNav">
               <a class="nav-link active" routerLink="/home"><span class="logo justify-content-center align-self-center">Tour<span>Prides</span></span></a>
               <span class="contact justify-content-center align-self-center"><i class="fas fa-mobile-alt"></i>+91 9875786452</span>
               <span class="justify-content-center align-self-center"><i class="far fa-envelope"></i>info@tourprides.com</span>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 rightNav">
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link active" routerLink="/home"><i class="fa fa-home" aria-hidden="true" style="color:#fff;font-size:18px;"></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/tours">Hot tours</a>
                    </li>
                  </ul>
            </div>

        </div>
    </div>
</div>